<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46674278567-ft5afeh5cnr90h2ealvvf3a59v4qjecm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46674278567-ft5afeh5cnr90h2ealvvf3a59v4qjecm</string>
	<key>API_KEY</key>
	<string>AIzaSyAxC-8-JLOpnmeeY9N29UF9VJSwiHPld3E</string>
	<key>GCM_SENDER_ID</key>
	<string>46674278567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tStore</string>
	<key>PROJECT_ID</key>
	<string>e-trade-actions</string>
	<key>STORAGE_BUCKET</key>
	<string>e-trade-actions.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46674278567:ios:265b032d5bdaeeecf68382</string>
</dict>
</plist>