<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxC-8-JLOpnmeeY9N29UF9VJSwiHPld3E</string>
	<key>GCM_SENDER_ID</key>
	<string>46674278567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.etradeActions.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>e-trade-actions</string>
	<key>STORAGE_BUCKET</key>
	<string>e-trade-actions.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46674278567:ios:20c85e83f35a9447f68382</string>
</dict>
</plist>